@charset "UTF-8";
/*管理者のメインページのデザインのCSSです*/
/* bodyの背景色、文字色、文字サイズ */
body{
	color:black;
	background-color: rgb(219, 241, 242);
	margin:0px;
	padding:0px;  
}

.parent{
	display:flex;
	gap: 100px;
}
/*ユーザ一覧の部分*/
.d2{
	background-color: #f5f5f5;
	border-radius: 40px;
	width: 700px;
	height: 400px;
	padding-left: 40px;
	margin-left: 150px;
	font-size: 25px;
}
/*管理者メニューの部分*/
.d3{
	background-color: #f5f5f5;
	border-radius: 40px;
	width: 350px;
	height: 500px;
	padding-top: 10px;
	text-align: center;
	margin-right: 20px;
	right: -100px;
	top: -100px;
	font-size: 25px;
	
}
.btn {
   width: 240px;
   height: 50px;
   font-size: 20px;
	background-color:#ED7F70;
	color: #f5f5f5;
	border: none;
	border-radius: 20px;
	margin-top: 20px;
}

.btn:hover {
	background-color:rgb(255, 147, 147);
}
.userList{
   width: 650px;
   height: 226px;
   overflow-y: scroll;
   overflow-x: hidden;
   border: 1px solid #ccc;
}
.userList table{
   width: 100%;
   border-collapse: collapse;
}
.userList td{
   white-space: nowrap;
   border-right: 1px solid #999;
   border-bottom: 1px solid #999;
   background: #FFF;
   padding: 5px;
}
.userList tr:first-child th{
   border-top: 1px solid #999;
}
.userList th:first-child{
   border-left: 1px solid #999;
}
.userList tr:first-child th:first-child{
   z-index: 1;
}
#table_title{
   font-weight: bold;
   font-size: larger;
}
.userList th{
	position: sticky;
	top: 0;
	text-align: center;
	z-index: 2;
	
}
