@charset "UTF-8";
/* 背景 */
body{
	background-color:#FDEED1;
	text-align:center;
	color:#9C6455;
}
.result-container{
	text-align:center;
	margin:40px auto;
}
/* 四角背景 */
.result-card{

	width:500px;

	margin:0 auto;

	background:white;

	border-radius:40px;

	padding:35px;

	box-sizing:border-box;
}
.check-mark{

	font-size:60px;

	margin-bottom:15px;
}

.success-mark{
	color:#72C472;
}

.error-mark{
	color:#E46E5C;
}
#big{
	font-size:25px;
	margin-top:70px;
}

 ボタン全体 
#buttonArea{
	margin-top:20px;
}
 共通ボタン 
input{
	width:60px;
	height:45px;
	transition: .2s;
}

input[type="submit"][value = "戻る"]{
	    background-color:white;
		color:#9C6455;
		border-radius:30px;
		border:1px solid #9C6455;
		width:120px;
		height:50px;
		font-size:18px;
		margin-top:15px;
		margin-right:10px;
		
}
input[type="submit"][value = "戻る"]:hover{
	filter:brightness(80%);
}

#btn-area {
	display: flex;
	justify-content:center;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}