@charset "UTF-8";
/* 背景 */
body{
	background-color:#FDEED1;
	text-align:center;
	color:#9C6455;
}
/* 四角背景 */
#box{
	background-color:white;
	width:330px;
	height:275px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	border-radius:50px;
}
/* メッセージ */
.text{
	padding-top:40px;
	font-size:30px;
}
#rink{
	font-size:25px;
}
/* ボタン全体 */
/*#buttonArea{*/
/*	margin-top:20px;*/
/*}*/
/* 共通ボタン */
/*input{*/
/*	width:170px;*/
/*	height:45px;*/
/*}*/
/* 左ボタン */
/*input[type="submit"]{*/
/*	background-color:#ED7F70;*/
/*	color:white;*/
/*	margin-right:50px;*/
/*}*/
/* 右ボタン */
/*input[type="button"]{*/
/*	background-color:white;*/
/*	color:#9C6455;*/
/*}*/
