@charset "UTF-8";@charset "UTF-8";

.confirm-container{
	text-align:center;
	margin:40px auto;
}

.confirm-card{

	width:500px;

	margin:0 auto 25px auto;

	background:#F8F8F8;

	border-radius:40px;

	padding:30px;

	box-sizing:border-box;
}

.confirm-card h2{

	color:#A56B5B;

	font-size:25px;

	margin-bottom:25px;
}

.material-list p{

	color:#A56B5B;

	font-size:28px;

	margin:15px 0;
}

.button-area{

	display:flex;

	justify-content:center;

	gap:20px;
}

.button-area form{
	margin:0;
}

.back-btn{

	width:120px;
	height:50px;

	background:white;

	color:#A56B5B;

	border:1px solid #A56B5B;

	border-radius:25px;

	font-size:20px;

	cursor:pointer;
}

.delete-btn{

	width:120px;
	height:50px;

	background:#F08070;

	color:white;

	border:none;

	border-radius:25px;

	font-size:20px;

	cursor:pointer;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}