@charset "UTF-8";
/* 背景 */
body{
	background-color:#FDEED1;
	text-align:center;
	color:#9C6455;
	padding-bottom:80px;

}

/* 四角背景 */
#confirm-card{

	width:600px;

	margin:0 auto;

	background:rgb(255, 255, 255);

	border-radius:40px;

	padding:35px;

	box-sizing:border-box;
}
#big{
	font-size:25px;
	margin-top:45px;
}
/* メッセージ */
#sample{
	font-size:25px;
	margin-top:35px;
}

/* ボタン全体 */
#buttonArea{
	margin-top:20px;
}
/* 共通ボタン */
input{
	width:80px;
	height:45px;
}

input[type="submit"][value = "戻る"]{
	    background-color:white;
		color:#9C6455;
		border-radius:30px;
		border:1px solid #9C6455;
		width:120px;
		height:50px;
		font-size:18px;
		margin-top:15px;
		margin-right:10px;
}

input[type="submit"][value="OK"]{
	    background-color:#ED7F70;
		border: none;
		color:white;
		border-radius:30px;
		width:120px;
		height:50px;
		font-size:18px;
		margin-top:15px;
		justify-content:space-around;
		margin-right:10px;
}
#btn-area {
	display: flex;
	justify-content:center;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}