@charset "UTF-8";
body{
	background-color: rgb(219, 241, 242);
	text-align:center;
	font-size: 30px;
    margin:0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh; 
	overflow-x: hidden;

}

/*.main-content{*/
/*	height:60vh;*/
/*}*/

.area {
    background-color: #f5f5f5;
	width: 80%;
	margin: 30px auto;
	border-radius: 40px;
	padding: 10px;
	justify-content: center; /* 横中央 */
	align-items: center; 
}

.btn-area {
    display: flex;
    justify-content: center;
    gap: 30px;
	margin-top: 30px;
	margin-bottom : 10px;
}

.btn {
    width: 180px;
    height: 50px;
    font-size: 20px;
	background-color:#ED7F70;
	color: #f5f5f5;
	border: none;
	border-radius: 20px;
	margin-top:20px;
}

.radio-grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
    justify-content: center;
}

.radio {
    border: 2px solid #d87f6a;
    border-radius: 10px;
    background-color: white;
	width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}