@charset "UTF-8";
body{
	background-color:#FDEED1;
	text-align:center;
	color:#9C6455;
	overflow-x: hidden;
	padding:0px;
	margin:0px;
	overflow-x: hidden;
	font-size:1.5vw;
}

#update,#history{
	flex: 1;
	
	margin: 0,10,0,10;
		width: 700px;
	    max-width: 700px;
		padding: 10px;
	    background: #fffdf9;
	    border: 2px solid #f0e6d2;
	    border-radius: 20px;
}
#update{
	padding-top: 20px;
}
#main-content{
	display: flex;
	    justify-content: center;
	    align-items: stretch;
		
	    gap: 80px;
	    width: 70%;
	    max-width: 1200px;
	    margin: 30px auto;
}
#tb1 {
    
    margin: 0 auto;
    border-collapse: collapse;
}
#update input[type="submit"] {
    
    margin: 10px;
    width: 120px;
    height: 40px;
    background-color: #ED7F70;
    color: white;
    border: none;
    border-radius: 10px;
}
#add{
	display: block;
	   margin: 20px auto 0;

	   width: 20%;
	   height: 35px;
		font-size: 15px;
	   background-color: #9C6455;
	   color: white;
	   border: none;
	   border-radius: 10px;
	   transition: .2s;
}


#add:hover{
	filter:brightness(60%);
}
input[type="text"]{
	border: 1.5px solid rgb(203, 188, 156);
	   border-radius: 10px;
	resize: both;
	height: 30px;
	width: 200px;
	
	
}
input[type="number"]{
	border: 1.5px solid rgb(203, 188, 156);
	   border-radius: 5px;
	resize: both;
	height: 20px;
	width: 60px;
	
}

#tb1 th,
   #tb1 td {
	
       padding: 12px 12px;
   }
   #tb1 th{
	
	text-align: left;
	font-size: 20px;
   }

#history{
/*	flex: 1;*/
/*	margin:10px auto;*/
/*	width: 700px;*/
/*    max-width: 700px;*/
/*	padding: 30px;*/
/*    background: #fffdf9;*/
/*    border: 2px solid #f0e6d2;*/
/*    border-radius: 20px;*/

/*    box-shadow: 0 4px 15px rgba(0,0,0,0.08);*/

    line-height: 1.5;
}

#history input[type="text"],
#history input[type="url"],
#history textarea{
    width: 90%;
    padding: 12px;

    border: 1px solid rgb(203, 188, 156);
    border-radius: 10px;

    font-size: 16px;
    box-sizing: border-box;

    transition: all 0.2s;
}
#history input[type="text"]{
	text-align: center;  
}

#history textarea{
    min-height: 120px;
    resize: vertical;
}

#history input:focus,
#history textarea:focus{
    outline: none;
    border-color: #e9b96e;
    box-shadow: 0 0 0 3px rgba(233,185,110,0.2);
}

#history input[type="file"]{
    margin-top: 8px;
}

#history-title{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color:#9C6455;
}

/*#historyBtn{*/
/*    padding: 12px 24px;*/
/*    border: none;*/
/*    border-radius: 999px;*/

/*    background: #ED7F70;*/
/*    color: white;*/

/*    font-size: 16px;*/
/*    font-weight: bold;*/

/*    cursor: pointer;*/
/*    transition: .2s;*/
/*	margin: 30px;*/
/*}*/

/*#historyBtn:hover{*/
/*    background: rgb(227, 77, 55);*/
/*    transform: translateY(-2px);*/
/*}*/
input[value="OK"]{
	width: 20%;
	height: 40px;
	background: #ED7F70;
	    color: white;
	    font-size: 16px;
	    font-weight: bold;
		border: none;
	    cursor: pointer;
	    transition: .2s;
		border-radius: 999px;
		margin: 5px;
}
input[value="OK"]:hover{
	filter:brightness(60%);
}

.file-button{ 
  font-size: 10px;
}

.file-button::file-selector-button {
  font-weight: bold;
  color: white;
  background: #ED7F70;
  font-size: 14px;
  border: 0;
  border-radius: 10em;
  padding: 8px 16px;
  text-align: center;
}

.btn{
	font-weight: bold;
	color: white;
	background: #ED7F70;
	font-size: 14px;
	border: 0;
	border-radius: 10em;
	padding: 8px 16px;
	text-align: center;
}

.btn:hover{
	filter:brightness(60%);
}

/*.file-button::file-selector-button {*/
/*  display: block;*/
/*}*/

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

